<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>HelloBooks | Profile</title>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">HelloBooks</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
     
      <form class="navbar-form navbar-left navbar-search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Children</a></li>
        <li><a href="#">IT</a></li>
        <li><a href="#">Education</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Cooking</a></li>
        <li><a href="#">Religion</a></li>
        <li><a href="#">Career</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Categories<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Women</a></li>
            <li><a href="#">Love</a></li>
            <li><a href="#">Fiction</a></li>
            <li><a href="#">Autobiographies</a></li>
            <li><a href="#">Adventure</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img class="usr-img"></img><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="profile.html">My Profile</a></li>
            <li><a href="history.html">Rent History</a></li>
           
          </ul>
        </li>
          
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container container-me">
  <div><h3>Add New Book</h3></div>
  <form class="form-me">
    <div class="form-group">
      <h6>Title</h6>
      <input type="textbox" placeholder="Title" class="form-control" name="title">
      <h6>Description </h6>
      <input type="textbox" placeholder="Description" class="form-control" name="description">
      <h6>Category</h6>
      <select name="category" placeholder="" class="form-control">
                  <option value="-Select-">Select Category</option>
                  <option id="rm" value="it">IT</option>
                  <option id="rm" value="education">Education</option>
                  <option id="rm" value="career">Career</option>
                  <option id="rm" value="business">Business</option>
                  <option id="rm" value="religion">Religion</option>
        </select>
        <h6>Quantity</h6>
      <input type="number" name="quantity" class="form-control" min="1">
      <h6>Image (Book Cover)</h6>
      <input type="file" name="image" class="form-control">
      
    </div>
    <input type="submit" class="btn btn-info btn-lg" value="Add Book">
  
  </form>
 

  


</div>  

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    © HelloBooks. All Rights Reserved. Privacy Policy • Terms of Use
  </div>
</nav>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>

<script>
  $(document).ready(function(){
    $('.dropdown-toggle').dropdown();
  });
</script>
</body>
</html>