@import '../../../../node_modules/react-tabs/style/react-tabs.scss';
$font-stack1: 'Rancho', sans-serif;
$font-stack2: 'Neucha', sans-serif;
$font-stack3: 'Neucha', sans-serif;

body{
	font-family: $font-stack2;
	font-size: 16px;
}
nav {
	background-color: #444;
	height: 6vh;
}
.fa {
color: lightseagreen;
margin-right: 5px;
}

.page-footer {
	background-color: #444;
	color: #fff;
	padding: 20px; 
	margin-bottom: 0;
	height: 6vh;
}
.login-box {
  display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 30px;
	font-size: 14px;
	margin-top: 50px;
}

.navbar-inverse {
	color: #fff;
	padding-top: 10px;
}
.brand-logo {
	padding-left: 20px !important; 
	color: #ffffff !important;
	font-size: 2.5rem !important;
	font-family: $font-stack1;
	
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

ul > li > a {
	color: #fff;
	font-size: 14px;
}

.dropdown-menu > li > a {
	font-size: 14px;
}
#dropdown_0 {
	top: 50px !important;
}

.navbar-search input {
	color: #fff;
	font-size: 14px;
}

label .signin h3 {
	text-align: center;
	font-size: 32px;
}
.usr-img {
	height:30px;
	width: 30px;
	background-color: #fff;
	border-radius: 15px;
	margin-right: 5px;
}

.profile-img {
	height:100px;
	width: 100px;
	background-color: #fff;
	border-radius: 50px;
	margin-right: 5px;
}

.big-usr-img {
	height: 100px;
	width: 100px;
	background-color: #ccc;
	border-radius: 50px;
}

.btn-me {
	background-color: #000;
	color: #fff;
	width: 200px;
	margin-left: 170px;
	position: relative;

}

.bookbox {
	width: 100%;
	height: 55%;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-right: 10px;
	box-shadow: 6px 8px 6px -7px #ccc;
}

.booktitle-admin a {
	margin-left: 30px;
	margin-top: 20px;
	color: #fff;
}
.button-borrow {
	width: 100%;
}

.glyphicon-add {
	margin-left: 30px;
	font-size: 200px;
}

.bookcover {
	width: 100%;
	margin-bottom: 10px;
}

.bookcover-admin {
	height: 130px;
	width: 100%;
}

.author {
	padding: 10px;
}
.booktitle {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	margin-left: 10px;
}

.editbook {
	height: 30px;
	background-color: black;
	text-align: center;
	padding-top: 2px;
}

.bookcat {
	color: #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 30px;
	padding-left: 10px;
}

.description {
	height: 40px;
	border-top: 1px solid #ccc;
	font-size: 14px;
	color: #000;
	margin-top: 10px;
}

a:hover .bookcover {
	border-color: blue;
	opacity: 0.6;
	text-decoration: none;
}

.mydetails {
	padding: 20px;
	font-size: 18px;
}

.borrow_details {
	padding: 80px;
	font-size: 16px;
}

.btn-borrow {
	margin-top: 0px; 
}

.singlebook_details {
	padding: 40px;
    font-size: 16px;
    text-align: left;
}

.singlebook_details .fa {
	color: #ccc;
	padding-right: 5px;
} 

.col-ava {
	padding: 50px;
	font-size: 18px;
}


.book_image {
	height: 300px;
	width: 300px;
}

.container-me h3 {
	margin-bottom: 20px;
}

.borrow-history {
	font-size: 16px;
}

.row-history {
	margin-bottom:20px;
}

.form-me {
	width: 600px;
	border: 1px solid #ccc;
	padding: 20px;
	margin:  0 auto;
	margin-bottom: 50px;
}

.login-form {
	margin-bottom: 50px;
	width: 500px;
	margin-top: 50px;
}

.profile-usertitle {
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.profile-userpic {
	text-align: center;
}

.profile-sidebar {
	border-right: 1px solid #ccc;
	padding-top: 30px;
	padding-bottom: 30px;
}

.profile-usermenu {
	text-align: center;
}

.profile-usertitle-job {
	color: #ccc;
}

.profile-content td {
	font-size: 14px;
}

.profile-content th {
	font-size: 14px;
}


/* Materialize */
.homepage {
	height: 100vh;
}
.tab-demo {
	align-items: center;
	text-align: center;
}

.navbar-home {
	background-color: #384aab !important;
	height: 8vh !important;
}
.cat-icons {
	font-size: 16px;
}

@media (max-height: 425px){
	.book-card {
		height: 200px;
	}
}
@media (min-height: 450){
.book-card {
	height: 300px;
}
span .book-title {
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	margin: 2px;
	color: #000;
	padding: 10px;
	padding-bottom: 5px;
}
.card-image{
	height: 180px;
}
img .card-image {
	height: 180px;
}
}

.book-card{
	display: flex;
}

.bookbox > div{
	display: flex;
}



.book-container, .book-body{
	position: relative;
}

.book-actions{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 300px;
	background-color: rgba(0,0,0,0.5);
}

.book-body img{
	width: 100%;
}
p .forgot {
	font-size: 16px;
}
.book-title{
	font-size: 0.9rem;
	color: #fff;
	font-weight: bold;
}
.book-image {
	height: 200px;
	margin-bottom: 10px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}
main {
	flex: 1 0 auto;
	min-height: 88vh;
	margin: 0;
}
.book-tooltip {
	border: 3px solid #0B1341;
	background-color: #ffffff !important;
	color: #000 !important;
	max-width: 500px;
}
.sidebar-home {
	background: url('http://res.cloudinary.com/ddvm5tzhm/image/upload/v1510652627/seamless_xero0o.jpg') no-repeat center;
	background-size: cover;
	height: 100vh;
}

div .mainbar-home{
	padding: 0px !important;
}

#autocomplete-input {
	width: 95%;
	border: 1px solid #ccc;
	border-radius: 25px;
	text-align: center;
}

.authpage {
	height: 100vh;
	display: flex;
	align-items: center;
	text-align: center;
	font-family: $font-stack1;
}

.authpage p {
	color: #fa9e3a;
	font-size: 26px;
}

 .react-tabs__tab-list {
	border-bottom: 1px solid #fa9e3a !important;
}
.react-tabs__tab--selected{
	background-color: #fa9e3a !important;
	color: #ffffff;
}

.react-tabs {
	height: 400px;
	padding: 20px;
}

.react-tabs__tab {
  width: 50%;
}
.btn-hb{
	background-color: #112279;
}

.btn-hb:hover {
	background-color: #fa9e3a;
}

.authpage input {
	font-size: 26px !important;
}
.genreList {
	display: inline-block;
}
.genreList__genre {
	list-style-type: none;
	line-height: 18px;
}
.pager {
	text-align: center;
}
.fa-actions {
	color: #ffffff;
}

@media screen and (min-width: 1024px){
	#dropdown_0 {
		width: 500px !important;
		top: 50px !important;
	}

	#slide-out {
		width: 20%;
		padding-top: 20px;
		background-color: #f5f5f5;
		margin-top: 8vh;
	}
	.user-view {
		text-align: center;
	}
	.side-nav a {
		height: 36px !important;
	}
	.books-container {
		width: 80%;
		margin-left: 20%;
		padding: 20px;
	}
 .side-nav.fixed .collapsible-header {
	 font-size: 14px;
	 border-bottom: 1px solid #ddd;
 }
 .side-nav.fixed .collapsible-body {
	 padding: 0 !important;
 }
 .bookcover {
	width: 90%;
	margin-bottom: 10px;
}

}

