body {
	padding-bottom: 60px;
}


.login-box {
  display: flex;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 30px;
	font-size: 14px;
	margin-top: 50px;
}

.navbar-inverse {
	color: #fff;
	text-align: center;
	padding-top: 10px;
}
.navbar-inverse .navbar-brand {
	padding-left: 20px; 
	color: #ffffff !important;
	font-size: 32px;
	font-family: xiomara;
	
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}

ul > li > a {
	color: #fff;
	font-size: 14px;
}
.navbar-inverse .navbar-nav > li > a:hover, a:visited {
	text-decoration: none;
	color: #ffffff;
	
}

.dropdown-menu > li > a {
	font-size: 14px;
}
a:hover; a:visited; a:link; a:active {
	text-decoration: none;
	color: #fff;
}

.navbar-search input {
	color: #fff;
	font-size: 14px;
}
.container-me {
	min-height: 520px;
	text-align: center;
}
.container-me input {
	font-size: 12px;
	padding-left: 5px;
}

label .signin h3 {
	text-align: center;
	font-size: 32px;
}
.usr-img {
	height:30px;
	width: 30px;
	background-color: #fff;
	border-radius: 15px;
	margin-right: 5px;
}

.profile-img {
	height:100px;
	width: 100px;
	background-color: #fff;
	border-radius: 50px;
	margin-right: 5px;
}

.big-usr-img {
	height: 100px;
	width: 100px;
	background-color: #ccc;
	border-radius: 50px;
}

.btn-me {
	background-color: #000;
	color: #fff;
	width: 200px;
	margin-left: 170px;
	position: relative;

}

.bookbox {
	width: 100%;
	height: 330px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 30px;
	margin-right: 10px;
	box-shadow: 6px 8px 6px -7px #ccc;
}

.booktitle-admin a {
	margin-left: 30px;
	margin-top: 20px;
	color: #fff;
}
.button-borrow {
	width: 100%;
}

.glyphicon-add {
	margin-left: 30px;
	font-size: 200px;
}

.bookcover {
	height: 180px;
	width: 100%;
}

.bookcover-admin {
	height: 130px;
	width: 100%;
}

.author {
	height: 30px;
	padding: 10px;
}
.booktitle {
	font-size: 16px;
	font-weight: bold;
	color: #000;
	height: 40px;
	margin-left: 10px;
}

.editbook {
	height: 30px;
	background-color: black;
	text-align: center;
	padding-top: 2px;
}

.bookcat {
	color: #ccc;
	margin-bottom: 5px;
	margin-top: 5px;
	height: 20px;
	padding-left: 10px;
}

.description {
	height: 40px;
	border-top: 1px solid #ccc;
	font-size: 14px;
	color: #000;
	margin-top: 10px;
}

a:hover .bookcover {
	border-color: blue;
	opacity: 0.6;
	text-decoration: none;
}

.mydetails {
	padding: 20px;
	font-size: 18px;
}

.borrow_details {
	padding: 80px;
	font-size: 16px;
}

.btn-borrow {
	margin-top: 0px; 
}

.singlebook_details {
	padding: 40px;
    font-size: 16px;
    text-align: left;
}

.singlebook_details .fa {
	color: #ccc;
	padding-right: 5px;
} 

.col-ava {
	padding: 50px;
	font-size: 18px;
}

.password-box {
    text-align: center;
    padding: 0px 100px 0px 100px;
}

.password-box input {
	font-size: 18px;
}

.book_image {
	height: 300px;
	width: 300px;
}

.container-me h3 {
	margin-bottom: 20px;
}

.borrow-history {
	font-size: 16px;
}

.row-history {
	margin-bottom:20px;
}

.form-me {
	width: 600px;
	border: 1px solid #ccc;
	padding: 20px;
	margin:  0 auto;
	margin-bottom: 50px;
}

.login-form {
	margin-bottom: 50px;
	width: 500px;
	margin-top: 50px;
}

.profile-usertitle {
	text-align: center;
	padding: 10px 0px 10px 0px;
}

.profile-userpic {
	text-align: center;
}

.profile-sidebar {
	border-right: 1px solid #ccc;
	padding-top: 30px;
	padding-bottom: 30px;
}

.profile-usermenu {
	text-align: center;
}

.profile-usertitle-job {
	color: #ccc;
}

.profile-content td {
	font-size: 14px;
}

.profile-content th {
	font-size: 14px;
}

.profile-content a {
    color: blue;
    text-decoration: none;
}
.col-home-a {
	margin: 0;
	background-image: url("../images/bg.jpg");
	background-repeat:no-repeat;
	display: compact;
	background-size: 100%;
	height: 100%; 
	/* background-position: cen */
}
.home-sidea {
	background-image: url("../images/bg.jpg");
}


/* Materialize */
.homepage {
	height: 100vh;
	padding: 50px;
}
.tab-demo {
	align-items: center;
	text-align: center;
}

.navbar-home {
	padding-left: 10px;
	padding-right: 10px;
}
.cat-icons {
	font-size: 16px;
}

@media (max-height: 425px){
	.book-card {
		height: 200px;
	}
}
@media (min-height: 450){
.book-card {
	height: 300px;
}
span .book-title {
	font-size: 16px;
	font-weight: bold;
	height: 40px;
	margin: 2px;
	color: #000;
	padding: 10px;
	padding-bottom: 5px;
}
.card-image{
	height: 180px;
}
img .card-image {
	height: 180px;
}

}

.book-card{
	display: flex;
}

.bookbox > div{
	display: flex;
}



.book-container, .book-body{
	position: relative;
}

.book-actions{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 300px;
	background-color: rgba(0,0,0,0.5);
}

.book-body img{
	width: 100%;
}

.book-title{
	font-size: 0.9rem;
	color: #fff;
	font-weight: bold;
}
.book-image {
	height: 200px;
	margin-bottom: 10px;
}
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}
