.login-box{
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 600px;
	padding: 30px;
	margin: 100px 0px 0px 350px;
	font-size: 14px;
}

.navbar-inverse {
	color: #fff;
	text-align: center;
	padding-top: 10px;
}
.navbar-inverse .navbar-brand{
	color: #ffffff !important;
	font-size: 32px;
	font-family: xiomara;

}
.navbar-inverse .navbar-nav > li > a{
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, a:visited{
	text-decoration: none;
	color: #ccc;

}
a:hover; a:visited; a:link; a:active; {
	text-decoration: none;

}
.container-me {
	min-height: 520px;
	text-align: center;
}

.signin{
	text-align: center;
	font-size: 32px;
}
.usr-img{
	height:30px;
	width: 30px;
	background-color: #fff;
	border-radius: 15px;
	margin-right: 5px;
}
.big-usr-img{
	height: 100px;
	width: 100px;
	background-color: #ccc;
	border-radius: 50px;
}
.btn-me{
	background-color: #000;
	color: #fff;
	width: 200px;
	margin-left: 170px;
	position: relative;

}
.bookbox{
	width: 100%;
	height: 300px;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}
.booktitle-admin a{
	margin-left: 30px;
	margin-top: 20px;
	color: #fff;
}
.glyphicon-add{
	margin-left: 30px;
	font-size: 200px;
}
.bookcover{
	height: 180px;
	width: 100%;
}
.bookcover-admin{
	height: 130px;
	width: 100%;
}
.booktitle{
	font-size: 20px;
	font-weight: bold;
	color: #000;
	padding: 10px;
	padding-bottom: 5px;
}
.editbook{
	height: 30px;
	background-color: black;
	text-align: center;
	padding-top: 2px;
}
.bookcat{
	padding-left:10px;
}
.description{
	font-size: 14px;
	color: #000;
	padding-left: 10px;
}

a:hover .bookbox{
	border-color: blue;
	text-decoration: none;
}
.mydetails{
	padding: 20px;
	font-size: 18px;
}
.borrow_details{
	padding: 80px;
	font-size: 16px;
}
.btn-borrow{
	margin-top: 20px;
}
.singlebook_details{
    font-size: 16px;
}
.col-ava{
	padding: 50px;
	font-size: 18px;
}

.book_image{
	height: 300px;
	width: 300px;
}
.container-me h3{
	margin-bottom: 20px;
}

.borrow-history{
	font-size: 16px;
}

.row-history{
	margin-bottom:20px;
}

.form-me{
	width: 600px;
	border: 1px solid #ccc;
	padding: 20px;
	margin:  0 auto;
}
